
  body{
    margin-left: 3%;
  }
  .navbar {
 
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
   
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .logo h1 {
    margin: 0;
    font-size: 24px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin-left: 20px;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
  }
  .card {
    position: relative;
    height: 200px !important;
    width: 450px !important;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid black;
   margin-bottom: 2%;
    overflow: hidden;
  }
  
  .logo img,
  .chip img,
  .number,
  .name,
  .from,
  .to,
  .ring {
    position: absolute; /* All items inside card should have absolute position */
  }
  
  .logo {
    top: 35px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0.8;
    /* margin-left: 290px; */
    
  }
  .test{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  .chip {
    margin-left: 45px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;

  }
  
  .number,
  .name,
  .from,
  .to {
   color: black;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }
  
  .number {
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
  }
  
  .name {
    font-size: 0.5rem;
    left: 40px;
    bottom: 35px;
  }
  
  .from {
    font-size: 0.5rem;
    bottom: 35px;
    right: 110px;
  }
  
  .to {
    font-size: 0.5rem;
    bottom: 35px;
    right: 40px;
  }
  
  /* The two rings on the card background */
  .ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -250px;
    right: -250px;
    box-sizing: border-box;
  }
  
  .ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
  }

  .button-container {
    
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-payment-button {
    background-color: #f2f2f2;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .proceed-to-pay-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .arrow {
    margin-left: 10px;
  }
  .lets-select-payment{
    display: flex;
    width: 100%;
  }
  .connection{
    width: 50%;
  }
  @media (max-width: 768px) {
    .connection{
      display: none;
    }
    .card{
      width: 370px !important;
    }
  }